.App {
  text-align: center;
  background-color:rgb(241,237,228);
  position: absolute;
  height:100vh;
  width:100vw;
  z-index: 0;
}
.wechatimg{
  position: absolute;
  left: 0;
  top:0;
  opacity: 0;
  height:100vh;
  width: 100vw;
  pointer-events: none;
}
.wechatimg img{
  max-width: 100%;
  max-height: 100;
}

.App-cover-logo {
  position: absolute;
  top: 0.466rem;
  left: 0.176rem;
}
.App-cover-logo img {
  display: block;
  height: 0.392rem;
  width:5.568rem;
}
.App-cover-logo-f {
  position: absolute;
  top: 1.122rem;
  left: 0.149rem;
}
.App-cover-logo-f img {
  display: block;
  height: 1.203rem;
  width:9.716rem
}
.App-Cover-P {
  position: absolute;
  left: 3.108rem;
  bottom:0;
}
.App-Cover-P img {
  display: block;
  height:13.73rem;
  width:6.892rem;
}
.App-Cover-circle-b {
  position: absolute;
  left: 0.35rem;
  bottom: 2.39rem;
  width: 7.338rem;
  height: 7.338rem;
  opacity: 0.8;
  background:rgb(10,41,251);
  -moz-border-radius: 3.669rem;
  -webkit-border-radius: 3.669rem;
  border-radius: 3.669rem;
  z-index: 2;
}
.App-Cover-circle-b-0 {
  display: block;
  width:4.014rem;
  height:2.135rem;
  position: absolute;
  left:1.662rem;
  top:0.946rem;
  opacity: 1;
}
.cover-slash {
  position: absolute;
  left: 0.959rem;
  top:3.378rem;
  width: 5.444rem;
	height: 0.108rem;
  background-color: #fdaaa9;
  opacity: 1;
}
.App-Cover-circle-b-1 {
  display: block;
  width:6.649rem;
  height:1.324rem;
  position: absolute;
  left:0.338rem;
  top:3.865rem;
  opacity: 1;
}

.App-Cover-circle-p {
  position: absolute;
  left: 3.527rem;
  bottom: 1.608rem;;
  width: 2.595rem;
  height: 2.595rem;
  background:rgb(253,170,169);
  -moz-border-radius: 1.795rem;
  -webkit-border-radius: 1.795rem;
  border-radius: 1.795rem;
  z-index: 3;
}
.App-Cover-circle-p img{
  display:block;
  width:2.135rem;
  height:0.919rem;
  position:absolute;
  left:0.23rem;
  top:0.878rem;
}
.App-q1-logo {
  position: absolute;
  top: 0.337rem;
  left: 0.649rem;
}
.App-q1-logo img {
  display: block;
  height: 0.394rem;
  width:5.57rem;
}
.App-q1-background {
  position: relative;
  top: 1.163rem;
  left: 0.675rem;
  right:0.675rem;
  bottom:1.137rem;
  background-color: white;
  height: 13.055rem;
  width:8.649rem;
}
.App-q1-q1title {
  position: relative;
  left: 0.566rem;
  top: 0.298rem;
}
.App-q1-q1title img {
  display: block;
  width:2.729rem;
  height:0.486rem
}
.App-q1-q1qtitle {
  position: relative;
  left:0.471rem;
  top:0.796rem;
}
.App-q1-q1qtitle img {
  display: block;
  width:7.351rem;
  height:2.296rem;
}
.App-q1-q1p{
  position: absolute;
  top:3.961rem;
  left:2.326rem;
  width:7.676rem;
  z-index: 2;
  pointer-events: none;
}
.App-q1-q1p img{
  display: block;
  width:7.676rem;
}
.App-q1-q1optionA {
  position: absolute;
  top:5.081rem;
  left:0.394rem;
  background: url(./asserts/pic/selectA.png) no-repeat;
  background-size:100% 100%;
  width:4.554rem;
  height:1.094rem;
}
.App-q1-q1optionB {
  position: absolute;
  top:6.798rem;
  left:0.394rem;
  background: url(./asserts/pic/selectB.png) no-repeat;
  background-size:100% 100%;
  width:4.664rem;
  height:1.094rem;
}
.App-q1-circle-p {
  position: absolute;
  left: 0.744rem;
  bottom: 0.623rem;
  width: 1.920rem;
  height: 1.920rem;
  background:rgb(253,170,169);
  -moz-border-radius: 0.960rem;
  -webkit-border-radius: 0.960rem;
  border-radius: 0.960rem;
  z-index: 1;
}
.App-q1-circle-p img{
  display: block;
  width:1.541rem;
  height:0.824rem;
  position: absolute;
  left:0.162rem;
  top:0.608rem;
}
.App-q1-q1optionA-content {
  position: absolute;
  left:1.271rem;
  bottom:0.095rem;
  width: 2.508rem;
	height: 0.394rem;
	font-family: SourceHanSansCN-Medium;
	font-size: 0.406rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.579rem;
	letter-spacing: 0rem;
	color: #ffffff;
}
.App-q1-q1optionB-content {
  position: absolute;
  left:1.271rem;
  bottom:0.095rem;
  width: 2.94rem;
	height: 0.394rem;
	font-family: SourceHanSansCN-Medium;
	font-size: 0.394rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.579rem;
	letter-spacing: 0rem;
	color: #ffffff;
}


.App-q2-q2qtitle {
  position: absolute;
  left: 0.473rem;
  top: 1.094rem;
}
.App-q2-q2qtitle img {
  display: block;
  width:6.09rem;
  height:2.298rem;
}
.App-q2-circle-p{
  position: absolute;
  left: 3.284rem;
  bottom: 0.338rem;
  width: 1.92rem;
  height: 1.92rem;
  background:rgb(253,170,169);
  -moz-border-radius: 0.96rem;
  -webkit-border-radius: 0.96rem;
  border-radius: 0.96rem;
  z-index: 1;
}
.App-q2-circle-p img{
  display: block;
  width:1.541rem;
  height:0.824rem;
  position: absolute;
  left:0.162rem;
  top:0.608rem;
}
.App-q2-optionA {
  position: absolute;
  left:0.311rem;
  top:4.406rem;
}
.App-q2-optionA-title{
  display: block;
  width:0.689rem;
  height:2.77rem;
}
.App-q2-optionB {
  position: absolute;
  left:0.311rem;
  top:7.703rem;
}
.App-q2-optionB-title{
  display: block;
  width:0.689rem;
  height:2.77rem;
}
.App-q2-optionA-content1 {
  display: block;
  width:7.23rem;
  height:0.784rem;
  position: absolute;
  left: 0.811rem;
  top:0;
}
.App-q2-optionA-content2 {
  display: block;
  width:6.77rem;
  height:0.797rem;
  position: absolute;
  left: 0.811rem;
  top:0.986rem;
}
.App-q2-optionA-content3 {
  display: block;
  width:6.554rem;
  height:0.784rem;
  position: absolute;
  left: 0.811rem;
  top:1.987rem;
}
.App-q2-optionB-content1 {
  display: block;
  width:5.608rem;
  height:0.784rem;
  position: absolute;
  left: 0.811rem;
  top:0;
}
.App-q2-optionB-content2 {
  display: block;
  width:5.459rem;
  height:0.797rem;
  position: absolute;
  left: 0.811rem;
  top:0.986rem;
}
.App-q2-optionB-content3 {
  display: block;
  width:5.189rem;
  height:0.784rem;
  position: absolute;
  left: 0.811rem;
  top:1.987rem;
}


.App-q3-background {
  position: absolute;
  top: 1.162rem;
  left: 0.676rem;
  background-color: white;
  height: 13.054rem;
  width:8.649rem;
  background: url(./asserts/pic/q3background.png) no-repeat;
  background-size:100% 100%;
}
.App-q3-q3qtitle {
  position: relative;
  left:0.471rem;
  top:0.826rem;
}
.App-q3-q3qtitle img {
  display: block;
  width:7rem;
  height:1.501rem;
}
.App-q3-circle-p{
  position: absolute;
  left: 5.878rem;
  bottom: 0.973rem;
  width: 1.92rem;
  height: 1.92rem;
  background:rgb(253,170,169);
  -moz-border-radius: 0.96rem;
  -webkit-border-radius: 0.96rem;
  border-radius: 0.96rem;
  z-index: 1;
}
.App-q3-circle-p img{
  display: block;
  width:1.541rem;
  height:0.824rem;
  position: absolute;
  left:0.162rem;
  top:0.608rem;
}
.App-q3-q1optionA {
  position: absolute;
  left:0.432rem;
  bottom:2.243rem;
}
.App-q3-q1optionA img {
  display: block;
  width: 3.946rem;
  height: 1.095rem;
}
.App-q3-q1optionB {
  position: absolute;
  left:0.432rem;
  bottom:0.527rem;
}
.App-q3-q1optionB img {
  display: block;
  width: 3.946rem;
  height: 1.095rem;
}
.App-q3-apattern {
  position: absolute;
  top:3.676rem;
  right:0.757rem;
}
.App-q3-apattern img{
  display:block;
  width:2.149rem;
  height:2.473rem;
}
.App-q3-bpattern {
  position: absolute;
  top:5.108rem;
  left:1.297rem;
}
.App-q3-bpattern img{
  display:block;
  width:2.459rem;
  height:4.473rem;
}


.App-q4-q4qtitle {
  position: absolute;
  left: 0.46rem;
  top: 1.094rem;
}
.App-q4-q4qtitle img {
  display: block;
  width:6.635rem;
  height:2.284rem;
}
.App-q4-q4acontent {
  position: absolute;
  top:3.892rem;
  left:0.784rem;
  z-index: 1;
}
.App-q4-q4acontent img{
  display:block;
  height:5.878rem;
  width:1.554rem;
}
.App-q4-q4apattern {
  position: absolute;
  top:4.527rem;
  left:2.5rem;
  z-index: 1;
}
.App-q4-q4apattern img{
  display:block;
  height:5.243rem;
  width:1.797rem;
}
.App-q4-q4aoption {
  position: absolute;
  top:9.838rem;
  left:0.77rem;
}
.App-q4-q4aoption img{
  display: block;
  width:3.284rem;
  height:0.986rem;
}
.App-q4-q4bcontent {
  position: absolute;
  top:5.433rem;
  left:5.014rem;
}
.App-q4-q4bcontent img{
  display:block;
  height:4.338rem;
  width:1.554rem;
}
.App-q4-q4bpattern {
  position: absolute;
  top:5.824rem;
  left:6.743rem;
}
.App-q4-q4bpattern img{
  display:block;
  height:3.946rem;
  width:1.73rem;
}
.App-q4-q4boption {
  position: absolute;
  top:9.838rem;
  left:5.027rem;
}
.App-q4-q4boption img{
  display: block;
  width:3.257rem;
  height:0.986rem;
}
.App-q4-circle-p{
  position: absolute;
  left: 3.514rem;
  bottom: 0.108rem;
  width: 1.92rem;
  height: 1.92rem;
  background:rgb(253,170,169);
  -moz-border-radius: 0.96rem;
  -webkit-border-radius: 0.96rem;
  border-radius: 0.96rem;
  z-index: 1;
}
.App-q4-circle-p img{
  display: block;
  width:1.541rem;
  height:0.824rem;
  position: absolute;
  left:0.162rem;
  top:0.608rem;
}
.App-q4-q4percent {
  position: absolute;
  left:0.311rem;
  top:4.96rem;
}
.App-q4-100per{
  position: absolute;
  left:0;
  top:0;
  width:0.865rem;
  height:0.244rem;
}
.App-q4-70per{
  position: absolute;
  left:0.203rem;
  top:1.554rem;
  width:0.649rem;
  height:0.243rem;
}
.App-q4-10per{
  position: absolute;
  left:0.203rem;
  top:5.73rem;
  width:0.608rem;
  height:0.243rem;
}
.App-q4-100per-s {
  position: absolute;
  left:0.946rem;
  top:0.081rem;
  width:1.757rem;
  height:0.013rem;
}
.App-q4-70per-s {
  position: absolute;
  left:0.946rem;
  top:1.635rem;
  width:4.432rem;
  height:0.014rem;
}


.App-q5-q5qtitle {
  position: absolute;
  left: 0.46rem;
  top: 1.094rem;
}
.App-q5-q5qtitle img {
  display: block;
  width:7.338rem;
  height:2.257rem;
}
.App-q5-circle-p{
  position: absolute;
  left: 5.108rem;
  bottom: 2.635rem;
  width: 1.92rem;
  height: 1.92rem;
  background:rgb(253,170,169);
  -moz-border-radius: 0.96rem;
  -webkit-border-radius: 0.96rem;
  border-radius: 0.96rem;
  z-index: 1;
}
.App-q5-circle-p img{
  display: block;
  width:1.541rem;
  height:0.824rem;
  position: absolute;
  left:0.162rem;
  top:0.608rem;
}
.App-q5-q5optioinA {
  position: absolute;
  left:0.486rem;
  top: 4.203rem;
}
.App-q5-q5optioinA img {
  display:block;
  height:1.094rem;
  width:6.27rem;
}
.App-q5-q5optioinB {
  position: absolute;
  left: 1.176rem;
  top: 5.797rem;
}
.App-q5-q5optioinB img {
  display:block;
  height:1.094rem;
  width:7.054rem;
}
.App-q5-q5p {
  position: absolute;
  left:0;
  top: 7.878rem;
}
.App-q5-q5p img{
  display: block;
  width:10rem;
  height: 7.473rem;
}


.App-fillname-background {
  text-align: center;
  background:url(./asserts/pic/fillnamebackground.png) no-repeat;
  background-size:100% 100%;
  position: absolute;
  height:100vh;
  width:100vw;
  z-index: 0;
}
.App-fillname-logo {
  position: absolute;
  top: 0.338rem;
  left:0.649rem;
}
.App-fillname-logo img{
  display: block;
  height:0.392rem;
  width:5.568rem;
}
.App-fillname-border {
  position: absolute;
  top:1.162rem;
  left:0.676rem;
  width:8.649rem;
  height:13.054rem;
  border: solid 0.013rem white;
}
.App-fillname-title {
  position: absolute;
  top:2.122rem;
  left: 2.739rem;
}
.App-fillname-title img {
  display: block;
  height:0.5rem;
  width: 3.109rem;
}
.App-fillname-circle {
  position: absolute;
  left: 3.135rem;
  bottom: 1rem;
  width: 2.365rem;
  height: 2.365rem;
  background:rgb(253,170,169);
  -moz-border-radius: 1.183rem;
  -webkit-border-radius: 1.183rem;
  border-radius: 1.183rem;
  z-index: 1;
}
.App-fillname-circle img {
  display: block;
  width:2.081rem;
  height:1.473rem;
  position:absolute;
  left:0.122rem;
  top:0.446rem;
}
.App-fillname-nametitle {
  position: absolute;
  left: 2.703rem;
  top: 6.662rem;
}
.App-fillname-nametitle img{
  display: block;
  width:3.122rem;
  height:0.5rem;
}
.App-fillname-fill {
  position: absolute;
  top:7.541rem;
  left:0.96rem;
}
.App-fillname-fill input{
  display: block;
  width: 6.77rem;
  height: 1.094rem;
  border:solid 0.013rem #0a29fb;
}
.App-fillname-man {
  position: absolute;
  top:3.135rem;
  left:0.96rem;
}
.App-fillname-man img {
  display:block;
  height:2.568rem;
  width:2.568rem;
}
.App-fillname-women {
  position: absolute;
  top:3.135rem;
  left:5.162rem;
}
.App-fillname-women img {
  display:block;
  height:2.568rem;
  width:2.568rem;
}


.App-booking-logo {
  position: absolute;
  left:0.189rem;
  top:0.5rem;
}
.App-booking-logo img {
  display: block;
  height:0.676rem;
  width:9.622rem;
}
.App-booking-circle-r {
  position: absolute;
  left: 0.243rem;
  top: 2.608rem;
  width: 5.23rem;
  height: 5.23rem;
  background:rgb(235,12,22);
  -moz-border-radius: 2.615rem;
  -webkit-border-radius: 2.615rem;
  border-radius: 2.615rem;
  z-index:2;
  mix-blend-mode: multiply;
}
.App-booking-circle-r-content {
  display: block;
  position: absolute;
  left:0.77rem;
  top:3.608rem;
  height: 2.973rem;
  width:4.284rem;
  z-index:3;
}
.App-booking-circle-b {
  position: absolute;
  left: 0.932rem;
  top: 6.054rem;
  width: 8.189rem;
  height: 8.189rem;
  background:rgb(10,41,251);
  -moz-border-radius: 4.095rem;
  -webkit-border-radius: 4.095rem;
  border-radius: 4.095rem;
  z-index:1;
  mix-blend-mode: multiply;
}
.App-booking-bluetitle {
  position: absolute;
  top:8.081rem;
  left:1.568rem;
  z-index:3;
}
.App-booking-bluetitle img {
  display: block;
  width:6.811rem;
  height: 1.338rem;
}
.App-booking-slash {
  position: absolute;
  left:2.176rem;
  top:9.73rem;
	width: 5.689rem;
  height: 0.027rem;
  background-color:white;
  z-index:3;
}
.App-booking-content {
  position: absolute;
  left:1.506rem;
  top:10.09rem;
  z-index:3;
}
.App-booking-content img {
  display: block;
  height:1.351rem;
  width: 7.135rem;;
}
.App-booking-QRcode {
  position: absolute;
  top:11.716rem;
  left:4.081rem;
  z-index:3;
}
.App-booking-QRcode img {
  display: block;
  width:2rem;
  height:2rem;
}
.App-booking-bookingp {
  position: absolute;
  left:3.365rem;
  bottom:0;
}
.App-booking-bookingp img {
  display: block;
  width: 6.635rem;
  height:14.324rem;
}


.App-resultA {
    text-align: center;
    background-color:rgb(253,170,169);
    position: absolute;
    height:100vh;
    width:100vw;
    z-index:0;
}
.App-resultA-logo {
  position: absolute;
  left:0.649rem;
  top:0.338rem;
}
.App-resultA-logo img {
  display: block;
  height:0.392rem;
  width:5.568rem;
}
.App-resultA-background {
  position: absolute;
  top: 1.189rem;
  left:0.676rem;
  width: 8.649rem;
  height: 13.027rem;
  background-color: white;
}
.App-result-typeA {
  position: absolute;
  left:0.311rem;
  top:0.324rem;
}
.App-result-typeA img {
  display: block;
  width:1.581rem;
  height:0.352rem;
}
.App-result-name {
  position: absolute;
  left:0.284rem;
  top: 0.811rem;
	width: 5.568rem;
  height: 0.784rem;
  background-color: rgb(10,41,251);
	font-family: GTWalsheimPro-Bold;
	font-size: 0.324rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.784rem;
	letter-spacing: 0rem;
  color: #ffffff;
  text-align: center;
}
.App-result-qrcode {
  position: absolute;
  top:0.268rem;
  left:6.892rem;
}
.App-result-qrcode-pattern {
  display: block;
  width: 1.527rem;
  height:1.527rem;
}
.App-result-qrcode-title {
  display: block;
  width:1.446rem;
  height:0.541rem;
  position: relative;
  top:0.122rem;
  right:0rem;
}
.App-resultA-title {
  position: absolute;
  left:0.342rem;
  top:2rem;
}
.App-resultA-title img {
  display: block;
  width: 6.432rem;
  height:1.662rem;
}
.App-resultA-content-borderimg {
  position: absolute;
  left:2.392rem;
  bottom:2.797rem;
  display:block;
  width:5.933rem;
  height:3.284rem;
  z-index:2;
}
.App-resultA-contentimg {
  display:block;
  width:4.216rem;
  height:1.784rem;
  position: absolute;
  left:3.338rem;
  bottom:3.433rem;
  z-index:2;
}
.App-resultA-circle-red {
  position: absolute;
  left: 5.973rem;
  bottom:0.257rem;
  width: 2.189rem;
  height: 2.189rem;
  background:#eb0c16;
  -moz-border-radius: 1.095rem;
  -webkit-border-radius: 1.095rem;
  border-radius: 1.095rem;
  z-index:2;
}
.App-resultA-circle-red img{
  display: block;
  width:1.716rem;
  height:1.284rem;
  position: absolute;
  left:0.216rem;
  top:0.365rem
}
.App-resultA-p {
  position: absolute;
  left:0;
  bottom:0.649rem;
  z-index: 1;
}
.App-resultA-p img{
  display: block;
  width:8.486rem;
  height:9.027rem;
}


.App-resultB {
  text-align: center;
  background-color:rgb(254,202,48);
  position: absolute;
  height:100vh;
  width:100vw;
}
.App-resultB-title {
  position: absolute;
  left:0.298rem;
  top:1.973rem;
}
.App-resultB-title img{
  display: block;
  width: 5.622rem;
  height:1.649rem;
}
.App-resultB-content-borderimg {
  position: absolute;
  left:0.906rem;
  top:4.311rem;
  display:block;
  width:7.203rem;
  height:3.23rem;
  z-index:2;
}
.App-resultB-contentimg {
  display:block;
  width:4.689rem;
  height:1.784rem;
  position: absolute;
  left:1.892rem;
  top:5.176rem;
  z-index:2;
}
.App-resultB-circle-red {
  position: absolute;
  left: 0.527rem;
  bottom:0.716rem;
  width: 2.189rem;
  height: 2.189rem;
  background:#eb0c16;
  -moz-border-radius: 1.095rem;
  -webkit-border-radius: 1.095rem;
  border-radius: 1.095rem;
  z-index:2;
}
.App-resultB-circle-red img{
  display: block;
  width:1.716rem;
  height:1.284rem;
  position: absolute;
  left:0.216rem;
  top:0.365rem
}
.App-resultB-p {
  position: absolute;
  right:0;
  bottom:0;
}
.App-resultB-p img {
  display: block;
  height:7.351rem;
  width:8.473rem;
}


.App-resultC {
  text-align: center;
  background-color:rgb(39,237,204);
  position: absolute;
  height:100vh;
  width:100vw;
}
.App-resultC-title {
  position: absolute;
  left:0.284rem;
  top: 2.013rem;
}
.App-resultC-title img{
  display:block;
  width:5.635rem;
  height:1.649rem;
}
.App-resultC-content-borderimg{
  position: absolute;
  left:0.352rem;
  top:3.973rem;
  width:8.027rem;
  height:3.176rem;
  display:block;
}
.App-resultC-contentimg{
  position: absolute;
  left:1.379rem;
  top:4.77rem;
  width:5.959rem;
  height:1.784rem;
}
.App-resultC-circle-red {
  position: absolute;
  left: 0.595rem;
  bottom:2.757rem;
  width: 2.189rem;
  height: 2.189rem;
  background:#eb0c16;
  -moz-border-radius: 1.095rem;
  -webkit-border-radius: 1.095rem;
  border-radius: 1.095rem;
  z-index:2;
}
.App-resultC-circle-red img{
  display: block;
  width:1.716rem;
  height:1.284rem;
  position: absolute;
  left:0.216rem;
  top:0.365rem
}
.App-resultC-p {
  position: absolute;
  left:0;
  bottom:0;
}
.App-resultC-p img {
  display: block;
  width:10rem;
  height:7.541rem;
}


.App-resultD {
  text-align: center;
  background-color:rgb(10,41,251);
  position: absolute;
  height:100vh;
  width:100vw;
}
.App-resultD-title {
  position: absolute;
  left:0.311rem;
  top:2rem;
}
.App-resultD-title img {
  display: block;
  width:5.635rem;
  height:1.662rem;
}
.App-resultD-content-borderimg {
  position: absolute;
  left:0.446rem;
  top:3.973rem;
  width:7.905rem;
  height:3.181rem;
  display: block;
}
.App-resultD-contentimg{
  display: block;
  width:6.122rem;
  height:1.824rem;
  position: absolute;
  left:1.243rem;
  top:4.865rem;
}
.App-resultD-circle-red {
  position: absolute;
  left: 0.257rem;
  bottom:1.154rem;
  width: 2.189rem;
  height: 2.189rem;
  background:#eb0c16;
  -moz-border-radius: 1.095rem;
  -webkit-border-radius: 1.095rem;
  border-radius: 1.095rem;
  z-index:2;
}
.App-resultD-circle-red img {
  display: block;
  width:1.716rem;
  height:1.284rem;
  position: absolute;
  left:0.216rem;
  top:0.365rem
}
.App-resultD-p {
  position: absolute;
  right:0;
  bottom:0;
}
.App-resultD-p img {
  display: block;
  width:9.149rem;
  height:7.541rem;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
